<div class="todo-container">
  <h1>TODO</h1>
  <mat-form-field class="todo-container__input">
    <input matInput type="text" [(ngModel)]="input" (keyup.enter)="addTodo(input)">

    <button *ngIf="!!input" matSuffix mat-icon-button aria-label="Clear" (click)="resetInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="navigation-buttons">
    <button mat-button aria-label="getAll" (click)="currentTodos = getAll()">
      all
    </button>

    <button mat-button aria-label="getProcessed" (click)="currentTodos = getProcessed()">
      processed
    </button>

    <button mat-button aria-label="getAll" (click)="currentTodos = getDone()">
      done
    </button>
  </div>

  <app-todo-list [todos]="currentTodos"
                 (delete)="delete($event)"
                 (switchIsDone)="switch($event)">
  </app-todo-list>
</div>
