<div class="todo-container">
  <h1>TODO</h1>
  <mat-form-field class="todo-container__input">
    <input matInput type="text" [(ngModel)]="input" (keyup.enter)="addTodo(input)">

    <button *ngIf="!!input" matSuffix mat-icon-button aria-label="Clear" (click)="resetInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="navigation-buttons">
    <button mat-button aria-label="getAll" (click)="chooseButton('all')">
      all
    </button>

    <button mat-button aria-label="getProcessed" (click)="chooseButton('processed')">
      processed
    </button>

    <button mat-button aria-label="getAll" (click)="chooseButton('done')">
      done
    </button>
  </div>

  <app-todo-list *ngIf="button === 'all'" [todos]="getAll()" (event)="delete($event)"></app-todo-list>
  <app-todo-list *ngIf="button === 'processed'" [todos]="getProcessed()" (event)="delete($event)"></app-todo-list>
  <app-todo-list *ngIf="button === 'done'" [todos]="getDone()" (event)="delete($event)"></app-todo-list>
</div>
