<div class="todo-container">
  <h1>TODO</h1>
  <mat-form-field class="todo-container__input">
    <input matInput type="text" [(ngModel)]="todoMessage" (keyup.enter)="addTodo(todoMessage)">
    <button *ngIf="!!todoMessage" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="navigation-buttons">
    <button mat-button aria-label="getAll" (click)="changeFlag(false, false)">
      all
    </button>

    <button mat-button aria-label="getProcessed" (click)="changeFlag(false, true)">
      processed
    </button>

    <button mat-button aria-label="getAll" (click)="changeFlag(true, false)">
      done
    </button>
  </div>

  <app-todo-list [todoList]="getFilteredTodos()"></app-todo-list>
</div>
