<div class="todo-container">
  <h1 (click)="navigate()">TODO</h1>
  <mat-form-field class="todo-container__input">
    <input matInput type="text" [(ngModel)]="input" (keyup.enter)="addTodo(input)">

    <button *ngIf="!!input" matSuffix mat-icon-button aria-label="Clear" (click)="resetInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="navigation-buttons">
    <button mat-button aria-label="getAll" (click)="chooseButton(false, false)">
      all
    </button>

    <button mat-button aria-label="getProcessed" (click)="chooseButton(false, true)">
      processed
    </button>

    <button mat-button aria-label="getAll" (click)="chooseButton(true, false)">
      done
    </button>
  </div>

  <app-todo-list [todoList]="getTodo()"></app-todo-list>
</div>
